body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.info-section *{
    border: 0px solid red;
}

.info-section {
    border: 0px solid rgb(212, 255, 0);
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    gap: 32px;
    padding: 8px 128px 64px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-links {
    display: flex;
    margin: 0;
    gap: 8px;
}

.header-link {
    color: #E5E7EB;
    text-decoration: none;
}

.header-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-body-left {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: space-between;
    gap: 8px;
    margin: 8px;
    flex: 1;
}

.header-body-right {
    width: auto;
    height: 220px;
    flex: initial;
    margin: 8px;
}

.main-header-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.sub-header-text {
    font-size: 18px;
    color: #E5E7EB;
}

button.header-body-button {
    width: 100px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px;
}



.page-body {
    display: flex;
    flex-direction: column;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
    gap: 32px;
    padding: 20px 100px 60px;
}

ul.info-section-tabs {
    display: flex;
    gap: 48px;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.info-section-tab {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 150px;
    height: auto;
    text-align: center;
    flex-shrink: 0;
    font-size: 16px;
    color: #1F2937;
}

.info-section-tab .ist-img {
    border: 3px solid #3882F6;
    width: auto;
    height: 120px;
    border-radius: 5px;
}

.info-section-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 60px 240px 40px;
    gap: 8px;
}

.quote-text {
    font-size: 36px;
    flex-wrap: wrap;
    font-weight: 100;
    color: #1F2937;
}

.quote-author {
    font-size: 14px;
    font-weight: bold;
    align-self: flex-end;
}

.action-call {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    padding: 24px 48px;
    margin: 48px auto;
    justify-content: space-between;
    gap: 100px;
    border-radius: 5px;
}

.action-call-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.action-call-text-header {
    font-weight: bold;
    font-size: 120%;
}

.action-call button {
    width: 100px;
    height: auto;
    border: 1px solid #F9FAF8;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    height: 80px;
}

.footer * {
    margin: auto;
    color: #F9FAF8;
    font-weight: 400;
}